<div>
  <hot-table *ngIf="dataset "
  [rowHeaders]="true"
  [contextMenu]= "true"
  [colHeaders]= "['ID', 'Budget', 'Genres','Homepage','Movie id','Keywords','Original_language','Original title','Overview','Popularity','Production companies','Production countries','Release date','Revenue','Runtime','Spoken languages','Status','Tagline','Title','Vote average','Vote count']"
  [colWidths]= "columnWidth"
  [rowHeights]= "rowlHeight"
  [manualColumnResize]= "true"
  [manualRowResize]= "true"
  [afterColumnResize]= "colresize"
  [afterRowResize]= "rowresize"
  [afterChange]="update"
  [beforeRemoveRow]="delete"
  [afterSheetAdded]="addChild"
  width= '100%'
  height= 500
  bindRowsWithHeaders= 'strict'
  [data]="dataset.docs"></hot-table>
</div>